
/* Universal styles Extra small devices (phones, less than 768px)*/
/* No media query since this is the default in Bootstrap */
body{
	text-align: left;	 /*tekstin oletuksena vasemmalta*/
	font-size: 10px; 	/*Yleinen fontti 10px koska silloin 1.2em = 12px etc..*/
	font-family: arial,sans-serif;
	font-weight: 400; 	/* 400 = normal -> w3c*/
	}
	
.container{
	max-width:100%;
	}
	
p{ 
	margin:0px; /* inherited margin set to 0 to set slide buttons on same height */
	}
	
/* wider modal settings used for editor*/
.modal.modal-wide .modal-dialog {
	  width: 95%;
	  margin: 0 auto;
}
.modal-wide .modal-body {
 	 overflow-y: auto;
	}
/* FONTIT*/
h1{
	font-size:2em;	
	text-align: left;
	}
h2, h3, h4, h5{
	font-size:1.8em;
	text-align: left;
	}
.panel-title{
	text-align:left;
	}
.container,
.container-fluid{
	font-size: 1.4em;
	}
ol{
	padding:2%;
	}
/* BUTTONS */
.btn,
.exercise .modal .btn{
	max-width:100%;
	width:auto;
	text-align:left;	
	margin:2%;
	white-space:normal; /*prevent glyphicon overflow in FF*/
	}
.exercise .btn{
	width:98%;	
	margin:2%;
	}
	
.exercise .ratings {
	float:right;
}
/* MISC */
p img{
	max-width:100%;
	height:auto;
	display:block;
  /*  margin: 0 auto;*/ /* Centers images */
}
img.bordered {
	border: 1px;
	border-style: solid;
	border-color: #888888;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-top: 10px;
	margin-bottom: 10px;
}
img.badgeicon {
	margin: 2%;
	width:100%;
	}
.jsbin-embed {
	border-color: black;
	border: 1px;
	border-style: solid;
	}
.hide-xs{
	display:inline-block;
	}
.show-xs{
	display:none;
	}
.video-responsive {
  position: relative;
  padding-bottom: 75%; /*Aspect ratio: 4:3 -> 3 / 4 * 100 = 75%, for 16:9 aspect ratio -> 9 / 16 * 100 = 56.25% */
  height: 0;
  overflow: hidden;
}
.video-responsive iframe,
.video-responsive object,
.video-responsive embed,
.video-responsive video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Sidebar Settings */

/* wrapper for menu elements */
#sidebar{
	height:100%;
	position:fixed; /* stays still when scrolling */
	top:0;
	left:0;
	height:100%;
	background-color: #F5F5F5;
	border-right: 1px solid #808080;
    overflow-y:auto;
    z-index:1;
}

/* wrapper for menu buttons */
.sidebar-nav {
	padding :0px;
    list-style: none;
}

/* menu buttons */
.sidebar-nav li {
	width:100%;
	font-size:14px;
    line-height: 35px;
    padding-left:5px; 
    margin-right:20px; /*padding for scrollbar*/
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:focus,
.sidebar-nav li a:hover{
	color: #000000;
}

/* menu brand */
.sidebar-nav .sidebar-brand h3 {
	height:50px;
	color:#000000;
	text-indent:5px;
}
	
  /* Custom fixes for XXXS Devices, custom, Phones */
@media only screen and (max-width : 320px){
h1{
	font-size: 1.8em;	
	}
h2, h3, h4, h5{
	font-size: 1.6em;
	}
.container,
.container-fluid{
	font-size: 1.2em;
	}
}


/* Custom fixes for XXS Devices, custom, Phones */
@media only screen and (max-width : 480px){
	h1{
	font-size: 1.9em;	
	}
h2, h3, h4, h5{
	font-size: 1.7em;
	}
.container,
.container-fluid{
	font-size: 1.3em;
	}
/*Buttoneille asetetaan whitespace normal -> Jakautuu kahdelle riville */
.btn{
	white-space: normal; !important;
	min-width: 100%;
	/*padding-left:2%;
	padding-right:2%;*/
	}
.hide-xs{
	display:none;
	}
.show-xs{
	display:inline-block;
	}
img.badgeicon {
	margin: 2%;
	max-width:80px;
	}
}

/* Small Devices, .visible-sm-* */
@media (min-width: 768px) {/*and (max-width: 991px) {*/
	
h1{
	font-size: 2.2em;	
	}
h2, h3, h4, h5{
	font-size: 2em;
	}
.container{
	max-width: 760px;
	}
.container-fluid{
	font-size: 1.6em;
}
.modal.modal-wide .modal-dialog {
  	width: 75%; /* modal takes 75% of page-width until max-width; */
  	margin: 0 auto;
 	max-width:1200px; 
	}
}

/* Medium Devices, .visible-md-* 
@media (min-width: 992px) and (max-width: 1199px) {


h1{
	font-size: 2.4em;	
	}
h2, h3, h4, h5{
	font-size: 2.2em;
	}
.container{
	font-size: 1.6em;
	max-width:992px;
	}
*/
}

/* Large Devices, .visible-lg-
@media (min-width: 1200px) {
	h1{
	font-size: 2.5em;	
	}
h2{
	font-size: 2.3em;
	}
.container{
	font-size: 1.8em;
	max-width:800px;
	}

}


*/