
/* Universal styles Extra small devices (phones, less than 768px)*/
/* No media query since this is the default in Bootstrap */
body{
	text-align: left;	 /*tekstin oletuksena vasemmalta*/
	font-size: 10px; 	/*Yleinen fontti 10px koska silloin 1.2em = 12px etc..*/
	font-family: arial,sans-serif;
	font-weight: 400; 	/* 400 = normal -> w3c*/
	}
.container{
	max-width:100%;
	}
/* FONTIT*/
h1{
	font-size:2em;	
	text-align: left;
	}
h2, h3, h4, h5{
	font-size:1.8em;
	text-align: left;
	}
.panel-title{
	text-align:left;
	}
.container{
	font-size: 1.4em;
	}
ol{
	padding:2%;
	}
/* Misc */
.btn{
	max-width:100%;
	width:auto;
	text-align:left;
	
	margin:1%;
	}

img{
	max-width:768px;
}
img.badgeicon {
	margin: 2%;
	width:100%;
	}
.jsbin-embed {
	border-color: black;
	border: 1px;
	border-style: solid;
	}
.hide-xs{
	display:block;
	}
.show-xs{
	display:none;
	}
.video-responsive {
  position: relative;
  padding-bottom: 75%; /*Aspect ratio: 4:3 -> 3 / 4 * 100 = 75%, for 16:9 aspect ratio -> 9 / 16 * 100 = 56.25% */
  height: 0;
  overflow: hidden;
}
.video-responsive iframe,
.video-responsive object,
.video-responsive embed,
.video-responsive video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

	
  /* Custom fixes for XXXS Devices, custom, Phones */
@media only screen and (max-width : 320px){
h1{
	font-size: 1.8em;	
	}
h2, h3, h4, h5{
	font-size: 1.6em;
	}
.container{
	font-size: 1.2em;
	}
	img{
	max-width:320px;
}
}


/* Custom fixes for XXS Devices, custom, Phones */
@media only screen and (max-width : 480px){
	h1{
	font-size: 1.9em;	
	}
h2, h3, h4, h5{
	font-size: 1.7em;
	}
.container{
	font-size: 1.3em;
	}
/*Buttoneille asetetaan whitespace normal -> Jakautuu kahdelle riville */
.btn{
	white-space: normal; !important;
	min-width: 100%;
	/*padding-left:2%;
	padding-right:2%;*/
	}
.btn-group{
	white-space: normal; !important;
	min-width: 100%;
	/*padding-left:2%;
	padding-right:2%;*/
}
.hide-xs{
	display:none;
	}
.show-xs{
	display:block;
	}
img{
	max-width:480px;
}
img.badgeicon {
	margin: 2%;
	max-width:80px;
	}
}

/* Small Devices, .visible-sm-* */
@media (min-width: 768px) {/*and (max-width: 991px) {*/
	
h1{
	font-size: 2.2em;	
	}
h2, h3, h4, h5{
	font-size: 2em;
	}
.container{
	font-size: 1.6em;
	max-width: 760px;
	}
img{
	max-width:750px;
	}
}

/* Medium Devices, .visible-md-* 
@media (min-width: 992px) and (max-width: 1199px) {
h1{
	font-size: 2.4em;	
	}
h2, h3, h4, h5{
	font-size: 2.2em;
	}
.container{
	font-size: 1.6em;
	max-width:992px;
	}
img{
	max-width:100%;
	}
}

/* Large Devices, .visible-lg-
@media (min-width: 1200px) {
	h1{
	font-size: 2.5em;	
	}
h2{
	font-size: 2.3em;
	}
.container{
	font-size: 1.8em;
	max-width:800px;
	}

}


*/