/*@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,100,400italic);

* {
	font-family: 'Roboto';
	font-weight: 200;
}

*/

/* Universal styles Extra small devices (phones, less than 768px)*/
/* No media query since this is the default in Bootstrap */
body{
	text-align: left; /*tekstin oletuksena vasemmalta*/
	font-size: 10px; /*Yleinen fontti 10px koska silloin 1.2em = 12px etc..*/
	}

.container{
	max-width:100%;
	width:98%%;
	}
/* FONTIT*/
h1{
	font-size:2em;	
	text-align: center;
	}

h2{
	font-size:1.8em;
	text-align: center;
	}
.container{
	font-size: 1.4em;
	}
ol{
	padding:2%;
	}
/* MUUT */
.btn{
	text-align:center;
	max-width:100%;
	margin:1%;
	}
img.badgeicon {
	margin: 2%;
	width:100%;
	}

.jsbin-embed {
	border-color: black;
	border: 1px;
	border-style: solid;
	}
.panel-title{
	text-align:left;
	}
#hidden-xs{
	display:block;
	}
#visible-xs{
	display:none;
	}
.video-responsive {
  position: relative;
  padding-bottom: 75%; /*Aspect ratio: 4:3 -> 3 / 4 * 100 = 75%, for 16:9 aspect ratio -> 9 / 16 * 100 = 56.25% */
  height: 0;
  overflow: hidden;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed,
.video-responsive video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
	
  /* Custom fixes for XXXS Devices, custom, Phones */
@media only screen and (max-width : 320px){
h1{
	font-size: 1.8em;	
	}
h2{
	font-size: 1.6em;
	}
.container{
	font-size: 1.2em;
	}
}


/* Custom fixes for XXS Devices, custom, Phones */
@media only screen and (max-width : 480px){
	h1{
	font-size: 1.9em;	
	}
h2{
	font-size: 1.7em;
	}
.container{
	font-size: 1.3em;
	}
/*Buttoneille asetetaan whitespace normal -> Jakautuu kahdelle riville */
.btn{
	white-space: normal; !important;
	min-width: 100%;
	}

img.badgeicon { /*<--TODO: -->*/
	margin: 2%;
	width:100%;
	max-width: 5em;
	}
#hidden-xs{
	display:none;
	}
#visible-xs{
	display:block;
	}
}



/* Small Devices, .visible-sm-* */
@media (min-width: 768px) and (max-width: 991px) {
	
h1{
	font-size: 2.2em;	
	}
h2{
	font-size: 2em;
	}
.container{
	font-size: 1.6em;
	}
}

/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px) {
h1{
	font-size: 2.4em;	
	}
h2{
	font-size: 2.2em;
	}
.container{
	font-size: 1.8em;
	}

}

/* Large Devices, .visible-lg-* */
@media (min-width: 1200px) {
	h1{
	font-size: 2.5em;	
	}
h2{
	font-size: 2.3em;
	}
.container{
	font-size: 1.8em;
	}
}


